<h1>{{model.title}}</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Here are the details on this item:</h3>
    <div class="item-info">
      <p><span class="bold-text">Description:</span> {{model.description}}</p>
      <p><span class="bold-text">Owner: </span> {{model.owner}}</p>
      <p><span class="bold-text">Bid Number: </span> {{model.bidNumber}}</p>
      <p><span class="bold-text">Suggested Starting Bid: </span> {{model.price}}</p>
    </div>
{{#if isEditing}}
<form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input  id="title" value=model.title class="form-control"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=model.description id="description" class="form-control" rows="15"}}
    </div>
    <div class="form-group">
      <label for="owner">Owner</label>
      {{input value=model.owner id="owner" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="bidNumber">Bid Number</label>
      {{input value=model.bidNumber id="bidNumber" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      {{input value=model.price id="price" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic1">Picture One</label>
      {{input value=model.pic1 id="pic1" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic2">Picture Two</label>
      {{input value=model.pic2 id="pic2" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic3">Picture Three</label>
      {{input value=model.pic3 id="pic3" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic4">Picture Four</label>
      {{input value=model.pic4 id="pic4" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic11">Picture One-Large</label>
      {{input value=model.pic11 id="pic11" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic22">Picture Two-Large</label>
      {{input value=model.pic22 id="pic22" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic33">Picture Three-Large</label>
      {{input value=model.pic33 id="pic33" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="pic44">Picture Four-Large</label>
      {{input value=model.pic44 id="pic44" class="form-control"}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>

{{else}}
  <p>{{body}}</p>
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}

    <div class="feedback-area">

      <h4> If questions or comments, leave feedback below</h4>
    {{#each model.feedbacks}}
      <p>{{text}}</p>
    {{/each}}

    <p class="links">{{#link-to 'new-feedback' model.id class="btn btn-primary" }}Feedback {{/link-to}}</p>


    {{outlet}}

    </div>
  </div>

  <div class="col-md-6">
    <h3>Pictures of {{model.title}} </h3>

    <div class="item-info picture-group">

      <div class="row">
        <div class="col-md-6">
          <img {{bind-attr src=model.pic1}} {{action 'showFullsize'}} alt="crop1"/>
        </div>
        <div class="col-md-6">
          <img {{bind-attr src=model.pic2}} {{action 'showFullsize2'}} alt="crop2"/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img {{bind-attr src=model.pic3}} {{action 'showFullsize3'}} alt="crop3"/>
        </div>
        <div class="col-md-6">
          <img {{bind-attr src=model.pic4}} {{action 'showFullsize4'}} alt="crop4"/>
        </div>
      </div>
    </div>

    <div class="fake hidden col-md-12">
      <img {{bind-attr src=model.pic11}} {{action 'hideFullsize'}}alt="large1">
    </div>
    <div class="fake2 hidden col-md-12">
      <img {{bind-attr src=model.pic22}} {{action 'hideFullsize2'}} alt="large2">
    </div>
    <div class="fake3 hidden col-md-12">
      <img {{bind-attr src=model.pic33}} {{action 'hideFullsize3'}} alt="large3">
    </div>
    <div class="fake4 hidden col-md-12">
      <img {{bind-attr src=model.pic44}} {{action 'hideFullsize4'}} alt="large4">
    </div>

  </div>
</div>
